$colorPrimary: hsl(212, 70, 50);
$colorPrimaryDark: hsl(212, 70, 38);
$colorPantone1: hsl(41, 66, 60);
$colorPantone2: hsl(9, 66, 60);
$colorPantone3: hsl(206, 66, 60);
$colorPantone4: hsl(296, 66, 60);
$colorGrey1: hsl(192, 14, 90);
$colorGrey2: hsl(192, 14, 80);
$colorGrey3: hsl(192, 14, 70);
$colorGrey4: hsl(192, 14, 60);
$colorFont: hsl(192, 14, 20);
$white: rgb(255, 255, 255);

$warning: hsl(360, 80, 60);
$warningLight: hsl(360, 80, 95);

$fontSizeLarge: 1.6rem;
$fontSizeMedium: 1.4rem;
$fontSizeNormal: 1rem;
$fontSizeSmall: 0.9rem;

$fontFamilyNormal: Roboto, Segoe UI, Helvetica, sans-serif;
$fontFamilyCondensed: Roboto Condensed, Segoe UI, Helvetica, sans-serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $white;
    margin: 0 1rem;
    font-family: Roboto, Segoe UI, Helvetica, sans-serif;
}

a {
    color: $colorPrimaryDark;
    text-decoration: none;
}

h1 {
    color: $colorPrimaryDark;
    font-family: Roboto Condensed, Segoe UI, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 3rem 0;
}

.woddyError {
    background-color: $warningLight;
    border: 1px solid $warning;
    padding: 1rem;
}

#app-header {
    background-color: $white; 
    border-bottom: 1px solid $colorGrey1; 
    color: $colorPrimaryDark;
    display: flex;
    font-family: Roboto Condensed, Segoe UI, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-transform: uppercase;
}

#app-header-name {
    flex: 1 1;
    flex-basis: auto;
}

#app-header-actions {
    flex: 0 0;
    flex-basis: auto;
    cursor: pointer;
}

.page {
    padding: 0 2rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    flex: 0 0 8rem;
    line-height: 8rem;
    text-align: center;
    background-color: $colorGrey1; 
    border-radius: 999px;
    align-self: center;
    margin: 1rem;
    text-decoration: none;
}

.routine-name {
    font-size: $fontSizeMedium;
    font-family: $fontFamilyCondensed;
    font-weight: normal;
    
}
.routine-description {
    font-size: $fontSizeNormal;
    color: $colorFont;
}

.tags {
    list-style-type: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.5rem;
    }
}

.pill {
    border-radius: 8px;
    background: $colorPrimary;
    color: $white;
    padding: 4px 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.modal-content {
    flex: 1 1 90%;
    background: #fff;
    border-radius: 2px;
    padding: 0.5rem;
    z-index: 99;
    margin: 0.5rem;
}

@media (min-width: 640px) {
    .modal-content {
        flex: 0 0 640px;
        padding: 1rem;
    }
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    background: transparent;
    border-radius: 999px;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 99;

    &:hover {
        background: #111;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    }

    img {
        vertical-align: middle;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search {
    padding: 0.5rem;
}

.search-input {
    width: 100%;
    border: 0 solid #ddd;
    font-size: 1.4rem;
    border-bottom-width: 1px;
}

.search-message {
    line-height: 2rem;
    color: #999;
    text-align: center;
}

.search-results {
    max-height: 16rem;
    height: 16rem;
    margin: 0;
    list-style-type: none;
    padding: 0; 
    overflow-y: scroll;
}

.search-item-title {
    font-size: 1rem;
    line-height: 2.5rem;
}

.search-item-details {
    font-size: 0.9rem;
    color: #999;
    padding-bottom: 0.5rem;
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
}

