<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Woddy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <script>
        var env = "<%= htmlWebpackPlugin.options.env %>";
    </script>
    <body>
        <div id="main"></div>
    </body>
</html>